<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UMS | @ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Css/google-font.css" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="~/Content/Css/sb-admin-2.css" rel="stylesheet">

    <!-- Ums styles for this template-->
    <link href="~/Content/Css/Styles.css" rel="stylesheet" />

    @RenderSection("PageLevelStyles", false)
</head>

<body class="bg-gradient-primary">

    <div class="container">
        @RenderBody()
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/sb-admin-2.js"></script>

    <!-- Ums scripts for all pages-->
    <script src="~/Scripts/Scripts.js"></script>

    <!-- Page level scripts-->
    @RenderSection("PageLevelScripts", false)
</body>
</html>