
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrivateForm.cshtml";
}

<div class="text-center">
    <div class="error mx-auto" data-text="Error">Error</div>
    <p class="lead text-gray-800 mb-5">Unknown Error Occured</p>
    <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
    <a href="@Url.Action(ViewBag.ReturnUrl)">← Take me back</a>
</div>
